<h1 mat-dialog-title>Régió</h1>
<form [formGroup]="regioForm">
    <div mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>Régió név</mat-label>
            <!-- input matInput [(ngModel)]="data.animal" -->
            <input formControlName="regname" matInput maxlength="50" required>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Mégse</button>
        <!-- button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button -->
        <button mat-button type="submit" (click)="onSubmit()">Ok</button>
    </div>
</form>