<!-- Button to clear selection -->
<!-- button mat-button (click)="clearSelection()">Clear Selection</button -->
<mat-toolbar>
  <button mat-stroked-button routerLink="/country" color="primary">Országok</button>
  <button mat-stroked-button routerLink="/regions" color="primary">Régiók</button>
  <button mat-stroked-button routerLink="/filter" color="primary">Szűrő</button>
</mat-toolbar>

<app-country-table *ngIf="router.url === '/'"></app-country-table>
<router-outlet *ngIf="router.url !== '/'"></router-outlet>
